.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the loading covers the whole screen */
  width: 100%;
  font-size: 2em;
  color: #3498db;
}
